/* barra menu topo */

.tudo{
	display: flex;
	flex-direction: column;
	background-color: rgb(196, 191, 196);
	min-width: 1000px;
}

.header {
	display: flex;
	flex-direction: row;
	border-style: solid;
	border-radius: 0.5rem;
	border-width: 0.125rem;
	margin: 0.625rem;
	padding: 0.625rem;


	background-color: #C00026;
}

.uber {
	width: 20%;
	max-height: 100%;


}

.uber img{
	max-width: 100%;


}

.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 80%;


	
}
.menu , .menu1{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-family: 'EB Garamond', serif;
	font-size: 1.5rem;

}

.menu_color{
	color: #000000;
}
/*barras menu*/

.principal{
	
	display: flex;
	flex-direction: row;
	justify-content: left;
	background-color: rgb(196, 191, 196);
}

/* barra lateral menu*/

.barra-lateral{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-style: solid;
	border-width: 0.125rem;
	margin: 0.625rem;
	width: 25%;
	border-radius: 1rem;
	background-color: rgb(205, 167, 167);
	max-height: 65rem;
}

.divisor{
	display: flex;
	flex-direction: column;
	justify-content: space-around;


}

.conteudo{
	display: flex;
	flex-direction: column;
	margin: 0.625rem;
	border-width: 0.125rem;
	justify-content: center;
	width: 75%;
	border-radius: 1rem;


}

.title{ 
	font-family: 'EB Garamond', serif;
	font-size:1.4rem;
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;
	height: 20%;
	margin: 1.5625rem;


}

.topping{
	font-family: 'Lora', serif;
	line-height: 1.2rem;
	font-size: 0.9rem;
	list-style-type: disc;
	list-style-position: inside;
	margin: 0.625rem;
	margin-left: 10%;

}

/*barra central menu*/

.barra-central{
	
	border-style: solid;
	border-width: 0.125rem;
	margin: 0.625rem;
	width: 15.625rem;
	

}

.titulo{
	font-family: 'EB Garamond', serif;
	font-size: 3rem;
	font-weight: bold;
	text-decoration: underline;
	margin: 1.5rem 0.23rem 3rem;
}

.titulo_b{
		font-family: 'EB Garamond', serif;
		font-size: 2rem;
		font-weight: bold;
		text-decoration: underline;
		margin: 1.5rem 0.23rem 3rem;
}

.topico{
	font-family: 'EB Garamond', serif;
	font-size: 2rem;
	margin: 1.1rem 2rem 0.75rem;
}

.paragrafo{
	font-family: 'Lora', serif;
	font-size: 1.2rem;
	line-height: 1.5rem;
	margin: 0.75rem 2rem 0.5rem 3rem;
}

.lista{
	font-family: 'Lora', serif;
	font-size: 1.2rem;
	list-style-type: disc;
	list-style-position: inside;
	margin: 0.75rem 2rem 0.5rem 3rem; 

}
.ordenada{
	font-family: 'Lora', serif;
	font-size: 1.2rem;
	margin:1rem 2rem 0.5rem 4rem; 
	list-style-type: decimal-leading-zero;
}

@media (max-width: 400px){
	.tudo{
		display: flex;
		flex-direction: column;
		background-color: rgb(196, 191, 196);
		min-width: 100%;
	}
	.header {
		position: fixed;
		display: flex;
		flex-direction: row;
		border-style: solid;
		border-radius: 0.5rem;
		border-width: 0rem;
		margin: 0rem;
		padding: 0rem;
		background-color: #C00026;
		width: 100%;
		height: 10%;
	}
	.principal{
		
		display: flex;
		flex-direction: row;
		justify-content: left;
		background-color: rgb(196, 191, 196);
		margin-top: 17%;
	}

	
	.uber {
		width: 0%;
		max-height: 0%;


	}
	
	.uber img{
		max-width: 0%;


	}
	
	.nav{ 
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
	}

	.menu{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		font-family: 'EB Garamond', serif;
		font-size: 1.5rem;

	}
	.title{ 
		font-family: 'EB Garamond', serif;
		font-size:1.4rem;
		display: list-item;
		list-style-type: disc;
		list-style-position: inside;

	}
	.titulo{
		font-family: 'EB Garamond', serif;
		font-size: 2.5rem;
		font-weight: bold;
		text-decoration: underline;
		margin: 1.5rem 0.23rem 3rem;
	}
	.topico{
		font-family: 'EB Garamond', serif;
		font-size: 1.5rem;
		margin: 1.1rem 2rem 0.75rem;
	}
	.conteudo{
		border-style: solid;
		width: 100%;
		border-radius: 0.5rem;
		border-width: 0.125rem;
		margin: 0.625rem;
		padding: 0.625rem;

	}

	.paragrafo{
		font-family: 'Lora', serif;
		font-size: 1.2rem;
		line-height: 1.5rem;
		margin: 0.75rem 2rem 0.5rem 3.5rem;
	}

	.lista{
		font-family: 'Lora', serif;
		font-size: 1.2rem;
		list-style-type: disc;
		list-style-position: inside;
		margin: 0.75rem 2rem 0.5rem 3rem; 

	}
	.ordenada{
		font-family: 'Lora', serif;
		font-size: 1.2rem;
		margin:1rem 2rem 0.5rem 4rem; 
		list-style-type: decimal-leading-zero;
	}
	
	.barra-lateral{
		display: block;
		position:absolute;
		flex-direction: column;
		justify-content: space-around;
		border-style: solid;
		border-width: 0.125rem;
		margin: 0.625rem;
		width: 90%;
		border-radius: 1rem;
		background-color: rgb(205, 167, 167);
		left: -100%;
		transition: left .5s;

	}
	.menu1:hover + .barra-lateral{
	   left: 0;
 	  
	}
}









